
.story__article::after, .story h2::after, .site-footer::before, .site-footer::after, #studio h2::before  {
    animation: rotate;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.flower-rotation-speedUp {
    animation-duration: 10s;
}

